<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-input
        label="Full Names"
        labelPlacement="floating"
        placeholder="Enter your names"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Phone numbers"
        labelPlacement="floating"
        placeholder="Enter your phone number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        placeholder="Enter your email address"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="floating"
        placeholder="Enter your Password"
      ></ion-input>
    </ion-item>
    <ion-button expand="block" type="Submit" style="margin-top: 20px"
      >Submit</ion-button

    >

    <ion-item href="#">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      <ion-label style="text-align: center;">Anchor Item</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item href="#" disabled="true">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      <ion-label>Disabled Anchor Item</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </form>
</ion-content>
