<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <form [formGroup]="Submit" (ngSubmit)="submit()">
  <ion-list>
  <ion-item>
    <ion-input label="Floating label" labelPlacement="floating" placeholder="Enter name" formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Floating label" labelPlacement="floating" placeholder="Enter date of birth" type="date" formControlName="date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Floating label" labelPlacement="floating" placeholder="Enter phone numbers" formControlName="phoneNumber" type="number" ></ion-input>
  </ion-item>
  <ion-button type="submit">Submit</ion-button>
</ion-list>
 </form>
</ion-content>
