<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HomePage Standalone</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-button routerLink="/login" expand="block">Login</ion-button>
    <ion-button routerLink="/dashboard" expand="block">Items</ion-button>
    <ion-button routerLink="/book" expand="block" color="danger">Book</ion-button>
    <ion-button routerLink="/add-notes" expand="block" color="danger">Add Notes</ion-button>
    <ion-button routerLink="/view-bookings" expand="block" color="danger">View Bookings</ion-button>
  </div>
</ion-content>
